body{
    margin : 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1{
    margin-top: 0;
    font-size: 500%;
    font-family: 'Sacramento', cursive;
    color:darkred;
}
h2{
    font-family: 'Pacifico', cursive;
    color: darkred;
}
h3{
    font-family: 'Architects Daughter', cursive;
}
.top{
    background-color: #ff7b54;
    padding: 20px;
    text-align: center;
}
.middle{
    text-align: center;
    background-color: #ffb26b;
    padding: 20px;
    margin: 0;
}
.lower{
    background-color: #ffd56b;
    padding: 20px;
    text-align: center;
    align-content: center;
}
.bottom{
    background-color: #939b62;
    padding: 20px;
}
.rightone{
    padding-left: 70%;
}
.leftone{
    padding-right: 70%;
}
#title{
    padding-top: 10px;
    margin: 0;
}
li{
    list-style:none;
}
#me{
    position:sticky;
    left:100px;
    color: #654321;
}
.gear{
    list-style:square;
}